.DS_Store?
*.exe
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sqlite
ehthumbs.db
Icon?
Thumbs.db
/_ReSharper.*
*.ReSharper.*
bin/
obj/
TestResults/
*.com
*.class
*.dll
*.pdb
*.dll.config
*.cache
*.suo
*.csv
